<br>
<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
              Registrar Reparacion
            </div>
            <div class="card-body">
                <div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">DUI</label>
                        <input type="text" class="form-control"  placeholder="DUI" [(ngModel)]="DUI">
                      </div>
                    <div class="form-group">
                      <label for="exampleInputEmail1" >Nombre</label>
                      <input type="text" class="form-control" id="exampleInputEmail1"  placeholder="Nombre" [(ngModel)]="Nombre">                       
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Vehiculo</label>
                        <input type="text" class="form-control"  placeholder="Vehiculo" [(ngModel)]="Vehiculo">
                      </div>
                    <div class="form-group">                      
                      <label class="form-check-label" for="exampleCheck1">Costo</label>
                      <input type="number" class="form-control" placeholder="$" [(ngModel)]="Monto">                      
                    </div>
                    <button type="submit" class="btn btn-primary" (click)="registrarVisita()">Registrar Visita</button>
                </div>
                <br>
                <label>Descuento: {{desc}}</label>
            </div>
          </div>
    </div>
    
</div>

<br/>

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-header">
              Registrar Reparacion
            </div>
            <div class="card-body">
                <table class="table table-sm table-dark">
                    <thead>
                        <th>DUI</th>
                        <th>Nombre</th>
                        <th>Vehiculo</th>
                        <th>$ Gastado</th>
                        <th># Visitas</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let regC of Clientes">
                            <td>{{regC.DUI}}</td>
                            <td>{{regC.Nombre}}</td>
                            <td>{{regC.Vehiculo}}</td>
                            <td>{{regC.Gastado}}</td>
                            <td>{{regC.Visitas}}</td>

                        </tr>
                    </tbody>
                </table>
            </div>
          </div>
    </div>
</div>